@charset "utf-8";
html,body{
	margin:0;
	font-family:"맑은 고딕";
}
*{
	box-sizing:border-box;
}
img{
    vertical-align: bottom;
}
a{
	color:#333333;
	text-decoration:none;
}
a:hover{
	color:#orange;
}
.wrap{
	width:100%;
	height:auto;
	border:none;
	box-sizing:border-box;
}
.header{
	width:100%;
	height:100px;
	border:none;
		
}
.section{
	width:100%;
	height:auto;
	border:none;
}
.footer{
	width:100%;
	height:50px;
	background-color:black;
	color:white;
}
.logo{
	margin:0 auto;
	width:70px;
	height:70px;
	background-color:transparent;
}
.logo img{
	width:100%;
}
.nav{
	position:absolute;
	top:20px;
	left:20px;
	width:30px;
	height:30px;
	background-color:transparent;
}
.menu-bar{
	width:100%;
	height:100%;
	border:1px solid black;
	background-color:white;
	font-size:1em;
}
.main-slider{
	width:100%;
	height:auto;
	background:transparent;
}
.content-list{
	width:100%;
	border-bottom:1px dotted #eeeeee;
	border-left:none;
	border-right:none;
	overflow-x:hidden;
}
.main-list{
	width:100%;
	height:auto;
	background-color:transparent;
}
.event-tab{
	width:100%;
	
}
.tabs{
	width:100%;
	height:auto;
	background-color:transparent;
    margin:10px 0;
}
.tab-contents{
	width:100%;
	height:auto;
	background-color:transparent;
}
.t-c1{
	width:100%;
	height:100%;
    display:none;
}
.product-list{
	width:100%;
}
.product-list>ul{
	list-style:none;
	padding:0; margin:10px auto;
    width:80%
    
}
.product-list>ul>li{
	
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: none;
}

.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}

.m-nav{
	width:105%;
	height:100%;
	background:rgba(0,0,0,0.7);
	position:fixed;
	left:-105%; top:0;
	overflow:auto;
    z-index:9999999;
	
}
.m-nav>ul{
	width:80%;
	list-style:none;
	margin:10px auto; padding:0;
	position:relative;
	top:100px;
}
.m-nav>ul>li{
	width:100%;
	padding:5px 10px;
	box-sizing:border-box;
	background:#0B3B2E;
	border-bottom:1px dotted white;
	
	
}
.m-nav>ul>li:last-child{
	border-bottom:none;
	
}
.m-nav>ul>li>a{
	display:block;
	width:100%;
	padding:20px 0;
	font-size:18px;
	background:#0B3B2E;
	color:orange;
	text-indent:20px;
	
	
}
.m-nav>ul>li:last-child a{
	border-bottom:none;
}
.drop-menu{
	width:100%;
	height:auto;
	background:black;
	display:none;
	list-style:none;
	padding:0;
	margin:0;
}
.drop-menu>li{
	width:100%;
	text-indent:20px;
	border-bottom:1px solid black;
}
.drop-menu>li>a{
	display:block;
	width:100%;
	padding:10px;
	background:darkred;
	color:white;
}
.drop-menu>li:last-child{
	border-bottom:none;
}
.m-close{
	position:absolute;
	right:50px; top:20px;
	width:30px;
	height:30px;
	border:1px solid white;
	color:white;
	background:transparent;
}
table, th, td{
     border-collapse:collapse;
}
.list-icon{
    width:80%;
    margin:20px auto;
    border:2px solid #222222;
    
}
.list-icon th, .list-icon td{
    border:1px solid #aaaaaa;
    height:70px;
    text-align:center;
   
}
.new{
    color:blue;
}
.birth{
    color:red;
}

.tabs>ul{
    list-style:none;
    padding:0; margin:0;
    text-align:center;
}
.tabs>ul>li{
    width:20%;
    display:inline-block;
    border:1px solid #333333;
    position:relative;
    
}

.tabs>ul>li.active{
    border:1px solid red;
}
.tabs>ul>li.active::after{
    content:"";
    border-width:10px;
    border-style:solid;
    border-color:red transparent transparent transparent;
    position:absolute;
    left:45%; top:100%;
    
}
.tabs>ul img{
    width:100%;
    vertical-align:bottom;
}
.t-c1 img{
    width:100%
}
.product-list img{
    width:100%
}

.fotorama__html{
    position:relative !important;
}
.fotorama__html div{
    width:100%;
    height:100%; 
    display:table; 
    text-align:center;
}
.fotorama__html span{
    z-index:1; 
    display:table-cell; 
    vertical-align:middle; 
    height:100%; 
    text-align:center;
}
.fotorama__html a{  
    display:inline-block; 
    width:50%; 
    height:20%; 
    color:white; 
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}
 .swiper-container {
      width: 105%;
      height: 100%;
	  
    }
    .swiper-slide {
	
      text-align: center;
      font-size: 18px;
      background: #fff;
	  height:50px;
	  
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.swiper-slide:last-child{
	width:80%;
}
.product-list p{
    font-size:1.4vw;
}
.main-nav{
    display:none;
}

@media screen and (min-width:768px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
    .product-list p{
        font-size:1.6vw;
    }
    
}

@media screen and (min-width:1000px){
    .nav{
        width:100%;
        position:relative;
        left:0; top:0;
        height:auto;
    }
    .main-nav{
        display:block;
        width:100%;
    }
    .menu-bar, m-nav{
        display:none;
    }
    .main-nav>ul{
        list-style:none;
        padding:0; margin:0;
        text-align:center;
    }
    .main-nav>ul>li{
        display:inline-block;
        width:15%;
        padding:0 0;
        position:relative;
        
    }
    .header{
        height:auto;
        padding-bottom:20px;
        position:relative;
        z-index:9999999;
    }
    .main-nav>ul>li>a{
        color:white;
        font-weight:bold;
        background:orangered;
        display:block;
        height:100%;
        padding:10px 0;
    }
    
    .main-drop-menu{
        list-style:none;
        margin:0; padding:0;
        position:absolute;
        top:100%; left:0;
        width:100%;
        height:0;
        overflow:hidden;
        -webkit-transition:0.5s;
    }
    .main-drop-menu>li{
        padding:0 10px;
        background:orange;
    }
    .main-drop-menu>li>a{
        display:block;
        padding:10px;
        background:orange;
        border-bottom:1px dotted white;
        
    }
    .main-drop-menu>li:last-child a{
        border-bottom:none;
    }
    
    .main-nav>ul>li:hover .main-drop-menu{
        height:250px;
    }
    
}